.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://res.cloudinary.com/dgxkfjsbz/image/upload/v1700304135/moviehub/Fondo%20de%20pantalla/vista-sala-cine-3d_ole3cw.jpg");
    color: var(--text-color-secondary);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    margin: 0;
}

.img-icon-login {
    margin: 0;
    width: 200px;
    height: 200px;
    margin-top: -450px;
    opacity: 0.8;
}

.login-btn {
    margin: 0;
}

.login-btn {
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: black;
    background-color: var(--background-color-secondary);
    background: linear-gradient(50deg, var(--background-color), var(--background-color-secondary));
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.9;
}

.login-btn:hover {
    background: linear-gradient(50deg, var(--background-color-secondary), var(--background-color));
    transition: 0.5;
}